@mixin delay($opcion: true) {
    @if $opcion {
        transition: all 0.2s ease;
        transition-delay: 1s;
    } @else {
        transition: all 0.1s ease;
        transition-delay: 100ms;
    }
}

@mixin bar-section {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $color-dark-gray-opacity-4;
    padding-bottom: 10px;
}

@mixin button-link {
    text-transform: capitalize;
    margin-left: 10px;
    padding-left: 15px;
    text-align: left;
    width: 100%;
    height: 40px;
    i {
        color: inherit;
    }
    span {
        font-weight: 600;
        letter-spacing: -1.2px;
    }
}

.main-container {
    display: flex;
    .section1 {
        width: 285px;
        overflow: hidden;
        padding-top: 10px;
        padding-right: 27px;
        .bar,
        .bar-section2,
        .bar-section3 {
            @include bar-section;
            .link {
                @include button-link;
            }
        }
        .bar-section3 {
            .subtitle {
                text-transform: uppercase;
                font-weight: bold;
                padding-left: 30px;
                color: rgb(109, 109, 109);
            }
        }
    }
    .section2 {
        cursor: pointer;
        width: 100%;
        background-color: $color-white-smoke;
        display: grid;
        grid-template-columns: repeat(4, 296px);
        justify-content: space-between;
        overflow-x: hidden;
        .container-card {
            border-radius: 8px;
            width: 296px;
            height: 246px;
            overflow: hidden;
            @include delay($opcion: false);
            .fa-ellipsis-vertical {
                display: none;
            }
            &-img {
                border-radius: 8px;
                overflow: hidden;
                @include delay($opcion: false);
                img {
                    width: 100%;
                    height: 169px;
                }
            }
            .container-ob {
                display: flex;
                margin: 0;
                @include delay($opcion: false);
                img {
                    @include delay($opcion: false);
                    width: 35px;
                    height: 35px;
                    border-radius: 50%;
                }
                .content {
                    @include delay($opcion: false);
                    margin-left: 10px;
                    margin-right: 6px;
                    .title {
                        @include delay($opcion: false);
                        font-size: 1rem;
                        font-weight: 700;
                        display: flex;
                        justify-content: space-between;
                    }
                    .title:hover {
                        color: $color-blue;
                    }
                    .user,
                    .views {
                        font-size: 0.8rem;
                        font-weight: 600;
                    }
                    .user:hover {
                        color: rgba(128, 128, 128, 0.8);
                    }
                }
            }
            .container-button-hover {
                display: flex;
                flex-direction: column;
                align-items: center;
                button {
                    overflow: visible;
                    background-color: $color-white-ah;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-weight: 600;
                    border-radius: 20px;
                    width: 96%;
                    height: 30px;
                    font-size: 0.95rem;
                }
                button:hover {
                    background-color: $color-dark-white;
                }
            }
        }
        .container-card:hover {
            box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px 0px,
                rgba(0, 0, 0, 0.22) 0px 10px 10px 0px;
            background-color: $color-white;
            z-index: 50;
            transform: scale(1.1);
            width: 302px;
            height: 320px;
            @include delay($opcion: true);
            .container-ob {
                @include delay($opcion: true);
                margin: 0 10px;
                .content {
                    .title {
                        @include delay($opcion: true);
                        font-size: 0.95rem;
                    }
                    .user {
                        @include delay($opcion: true);
                        font-size: 0.63rem;
                    }
                    .views {
                        @include delay($opcion: true);
                        font-size: 0.7rem;
                    }
                }
            }
            .fa-ellipsis-vertical {
                display: block;
            }
        }
        h5 {
            display: flex;
            justify-content: space-between;
        }
    }
}
