@mixin bar-section {
    display: flex;
    flex-direction: column;
    margin-right: 13px;
    border-bottom: 1px solid $color-dark-gray-opacity-4;
    padding-bottom: 10px;
}

@mixin button-link {
    text-transform: capitalize;
    margin-left: 10px;
    padding-left: 15px;
    text-align: left;
    width: 100%;
    height: 40px;
    i {
        color: inherit;
    }
    span {
        font-weight: 600;
        letter-spacing: -1.2px;
    }
}

.main-container {
    display: flex;
    .section1 {
        width: 285px;
        overflow: hidden;
        padding-top: 10px;
        .bar {
            @include bar-section;
            .link {
                @include button-link;
            }
        }
        .bar-section2 {
            @include bar-section;
            .link {
                @include button-link;
            }
        }
        .bar-section3 {
            @include bar-section;
            .link {
                @include button-link;
            }
            .subtitle {
                text-transform: uppercase;
                font-weight: bold;
                padding-left: 30px;
                color: rgb(109, 109, 109);
            }
        }
    }
    .section2 {
        cursor: pointer;
        align-self: flex-start;
        width: 100%;
        height: 100vh;
        background-color: $color-white-smoke;
        display: grid;
        grid-template-columns: repeat(4, 296px);
        justify-content: space-between;
        .container-card {
            &-img {
                border-radius: 12px;
                overflow: hidden;
                img {
                    width: 100%;
                    height: 169px;
                }
            }
            .container-ob {
                display: flex;
                img {
                    width: 35px;
                    height: 35px;
                    border-radius: 50%;
                }
                .content {
                    margin-left: 10px;
                    margin-right: 6px;
                    .title {
                        font-size: 1rem;
                        font-weight: 700;
                        display: flex;
                        justify-content: space-between;
                    }
                    .user,
                    .views {
                        font-size: 0.8rem;
                        font-weight: 600;
                    }
                    .user:hover {
                        color: rgba(128, 128, 128, 0.8);
                    }
                }
            }
        }
        h5 {
            display: flex;
            justify-content: space-between;
        }
    }
}

.container-card {
    .fa-ellipsis-vertical {
        display: none;
    }
}
.container-card:hover {
    .fa-ellipsis-vertical {
        display: block;
    }
}