$color-white: #fff;
$color-white-smoke: rgba(245, 245, 245);
$color-white-ah: #F2F2F2;
$color-white-smoke-opacity-4: rgba(245, 245, 245, 0.4);
$color-white-smoke-opacity-8: rgb(245, 245, 245, 0.8);
$color-red: #ff0000;
$color-gray-opacity-2: rgba(158, 158, 158, 0.2);
$color-gray-opacity-3: rgba(158, 158, 158, 0.3);
$color-gray-opacity-4: rgba(239, 239, 239, 0.4);
$color-gray-opacity-6: rgba(239, 239, 239, 0.6);
$color-dark-gray-opacity-8: rgba(239, 239, 239, 0.8);
$color-light-gray: rgba(128, 128, 128, 0.8);
$color-gray: rgb(169, 169, 169);
$color-dark-gray-opacity-4: rgba(192, 192, 192, 0.4);
$color-blue: #1746a2;
$color-black-opacity-5: rgb(0 0 0 / 0.5);
$color-dark-gray-opacity-6: rgba(112, 112, 112, 0.15);
$color-dark-white: #ededed;

.wd {width: 85px !important;}