.navbar {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding: 0 25px;
  height: 58px;
  border-bottom: 1px solid rgba(224, 224, 224, 0.5);
}
.navbar-section1 {
  display: flex;
  align-items: center;
}
.navbar-section1-container {
  display: flex;
  align-items: center;
}
.navbar-section1-container .fa-youtube {
  color: #ff0000;
}
.navbar-section1-container span {
  letter-spacing: -1.5px;
  font-family: "Oswald", sans-serif;
  margin-left: 2px;
  font-weight: 500;
}
.navbar-section2 {
  display: flex;
  align-items: center;
  width: 612px;
  height: 35px;
}
.navbar-section2-container {
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
}
.navbar-section2-container-action {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}
.navbar-section2-container-action .bi-search {
  padding: 10px 10px 10px 20px;
  display: flex;
  align-items: center;
}
.navbar-section2-container-action-search {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  background-color: inherit;
  width: 100%;
  height: 100%;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 10px;
  border: 1px solid rgba(128, 128, 128, 0.8);
  border: 0;
}
.navbar-section2-container-action-search:focus {
  outline: 0;
  box-shadow: none;
}
.navbar-section2-container-action-search::placeholder {
  color: rgb(169, 169, 169);
  font-weight: 500;
}
.navbar-section2-container-action .clear {
  border: 0;
  border-radius: 50%;
  font-size: 1.2rem;
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.navbar-section2-container-action .clear:hover {
  background-color: rgba(158, 158, 158, 0.2);
}
.navbar-section2-container button {
  padding: 0;
  margin: 0;
  background-color: rgb(245, 245, 245);
  width: 67px;
  height: 100%;
  border: 0;
  box-shadow: none;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  outline: 1px solid rgb(220, 220, 220);
  transition: 0.1s;
}
.navbar-section2-container button .fa-magnifying-glass {
  text-align: center;
  color: rgb(79, 79, 79);
}
.navbar-section2-container button:hover {
  background-color: rgba(112, 112, 112, 0.15);
}
.navbar-section2-container button:focus {
  background-color: rgba(112, 112, 112, 0.15);
}
.navbar-section2 .microphone-icon {
  background-color: rgba(239, 239, 239, 0.5);
  border-radius: 50%;
  margin-left: 9px;
  padding: 12px;
  cursor: pointer;
}
.navbar-section3 {
  display: flex;
  align-items: center;
  position: relative;
}
.navbar-section3 .style-video svg {
  text-decoration: none;
  list-style: none;
  color: initial;
  padding: 0;
  margin: 0;
  padding: 0 8px;
}
.navbar-section3 .style-video svg:last-child {
  top: 10%;
  left: 2%;
  position: absolute;
  font-weight: bold;
}
.navbar-section3 .profile {
  cursor: pointer;
}
.navbar-section3 .profile img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.active-circle:active {
  padding: 8px;
  background-color: rgba(239, 239, 240, 0.1);
}

.prueba {
  height: 100%;
  width: 100%;
}
.prueba p {
  top: 50%;
  height: 100%;
  display: flex;
  align-items: center;
}
.prueba input {
  width: 100%;
}
.prueba input:focus {
  outline: 0;
  border: 0;
  box-shadow: none;
}

.border-rounded {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.style-input {
  box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.5);
  outline: 1px solid #1746a2;
}

.main-container {
  display: flex;
}
.main-container .section1 {
  width: 285px;
  overflow: hidden;
  padding-top: 10px;
}
.main-container .section1 .bar {
  display: flex;
  flex-direction: column;
  margin-right: 13px;
  border-bottom: 1px solid rgba(192, 192, 192, 0.4);
  padding-bottom: 10px;
}
.main-container .section1 .bar .link {
  text-transform: capitalize;
  margin-left: 10px;
  padding-left: 15px;
  text-align: left;
  width: 100%;
  height: 40px;
}
.main-container .section1 .bar .link i {
  color: inherit;
}
.main-container .section1 .bar .link span {
  font-weight: 600;
  letter-spacing: -1.2px;
}
.main-container .section1 .bar-section2 {
  display: flex;
  flex-direction: column;
  margin-right: 13px;
  border-bottom: 1px solid rgba(192, 192, 192, 0.4);
  padding-bottom: 10px;
}
.main-container .section1 .bar-section2 .link {
  text-transform: capitalize;
  margin-left: 10px;
  padding-left: 15px;
  text-align: left;
  width: 100%;
  height: 40px;
}
.main-container .section1 .bar-section2 .link i {
  color: inherit;
}
.main-container .section1 .bar-section2 .link span {
  font-weight: 600;
  letter-spacing: -1.2px;
}
.main-container .section1 .bar-section3 {
  display: flex;
  flex-direction: column;
  margin-right: 13px;
  border-bottom: 1px solid rgba(192, 192, 192, 0.4);
  padding-bottom: 10px;
}
.main-container .section1 .bar-section3 .link {
  text-transform: capitalize;
  margin-left: 10px;
  padding-left: 15px;
  text-align: left;
  width: 100%;
  height: 40px;
}
.main-container .section1 .bar-section3 .link i {
  color: inherit;
}
.main-container .section1 .bar-section3 .link span {
  font-weight: 600;
  letter-spacing: -1.2px;
}
.main-container .section1 .bar-section3 .subtitle {
  text-transform: uppercase;
  font-weight: bold;
  padding-left: 30px;
  color: rgb(109, 109, 109);
}
.main-container .section2 {
  cursor: pointer;
  align-self: flex-start;
  width: 100%;
  height: 100vh;
  background-color: rgb(245, 245, 245);
  display: grid;
  grid-template-columns: repeat(4, 296px);
  justify-content: space-between;
}
.main-container .section2 .container-card-img {
  border-radius: 12px;
  overflow: hidden;
}
.main-container .section2 .container-card-img img {
  width: 100%;
  height: 169px;
}
.main-container .section2 .container-card .container-ob {
  display: flex;
}
.main-container .section2 .container-card .container-ob img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.main-container .section2 .container-card .container-ob .content {
  margin-left: 10px;
  margin-right: 6px;
}
.main-container .section2 .container-card .container-ob .content .title {
  font-size: 1rem;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
}
.main-container .section2 .container-card .container-ob .content .user,
.main-container .section2 .container-card .container-ob .content .views {
  font-size: 0.8rem;
  font-weight: 600;
}
.main-container .section2 .container-card .container-ob .content .user:hover {
  color: rgba(128, 128, 128, 0.8);
}
.main-container .section2 h5 {
  display: flex;
  justify-content: space-between;
}

.container-card .fa-ellipsis-vertical {
  display: none;
}

.container-card:hover .fa-ellipsis-vertical {
  display: block;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  font-family: "Open Sans", sans-serif;
}

button {
  border: 0;
  background: inherit;
}

a,
i {
  text-decoration: none;
  list-style: none;
  color: initial;
  padding: 0;
  margin: 0;
}

.style-video {
  position: relative;
}
.style-video svg:last-child {
  position: absolute;
  top: 17%;
  left: 4%;
  font-weight: bold;
}

a:hover {
  color: initial;
}

.active {
  background-color: rgba(158, 158, 158, 0.3);
  font-family: "Roboto", sans-serif;
  border-radius: 11px;
}

.link:hover {
  border-radius: 11px;
  background-color: rgba(158, 158, 158, 0.3);
}/*# sourceMappingURL=style.css.map */