@mixin icon {
    // border-radius: 50%;
    text-decoration: none;
    list-style: none;
    color: initial;
    padding: 0;
    margin: 0;
}

@mixin ancla {
    text-decoration: none;
    list-style: none;
    color: initial;
}

@mixin flexbox($direction, $a-items, $j-content) {
    display: flex;
    flex-direction: $direction;
    align-items: $a-items;
    justify-content: $j-content;
}

@mixin buttonhov {
    background-color: rgba(229, 229, 229,.6);
    border-radius: 50%;
    border: 2px solid white;
}

@mixin buttonactiv {
    background-color: rgb(229, 229, 229);
    border: 2px solid rgb(229, 229, 229);
    border-radius: 50%;
    transition: ease all .2s;
}

@import "variables";
@import "header";
@import "main";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

body {
    background-color: $color-white;
    font-family: "Open Sans", sans-serif;
}

button {
    border: 0;
    background: inherit;
}

a,
i {
    @include icon;
}

.style-video {
    position: relative;
    svg:last-child {
        position: absolute;
        top: 17%;
        left: 4%;
        font-weight: bold;
    }
}

a:hover {
    color: initial;
}

.active {
    background-color: $color-white-ah;
    font-family: $ff-roboto;
    border-radius: 11px;
    font-weight: 600;
}

.link:hover {
    border-radius: 11px;
    background-color: $color-white-ah;
}