@import '_colors', '_lightmode';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container-active {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $very-dark-desaturated-blue;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid $very-dark-grayish-blue-dark;
    padding: 5px 20px;
    height: 55px;
    .style-text {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 55px;
        font-size: .9rem;
        margin-left: 15px;
        color: $light-grayish-blue;
    }
    svg {
        color: #494C6B;
        cursor: pointer;
    }
    svg:active {
        transform: scale(.8);
    }
}

.page-link {
    text-transform: capitalize;
    background-color: inherit;
    border: 0;
    cursor: pointer;
    outline: 0;
    font-size: 1rem;
    margin-left: 10px;
    color: $very-dark-grayish-blue-dark;
}

.active {
  color: $bright-blue;
}

.btn:hover {
    color: gray;
}

.check-all {
    width: 21px;
    height: 21px;
    overflow: hidden;
    padding: 1px;
    border-radius: 50%;
    border: 0;
    background-color: $very-dark-grayish-blue;
    .check-all-button {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $very-dark-desaturated-blue;
        cursor: pointer;
        border: 0;
        border-radius: 50%
;        width: 100%;
        height: 100%;
        padding: 1px;
    }
    .checked-all-button {
        background: url('../assets/images/icon-check.svg'), linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        border: 0;
        border-radius: 50%;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.check-all:hover {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.33, hsl(280, 87%, 65%)), color-stop(0.67, hsl(192, 100%, 67%)));
    background-image: -moz-linear-gradient(center bottom, hsl(280, 87%, 65%), hsl(280, 87%, 65%));
}

.border {
    width: 21px;
    height: 21px;
    overflow: hidden;
    padding: 1px;
    border-radius: 50%;
    border: 0;
    background-color: $very-dark-grayish-blue;
}
.border:hover {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.33, hsl(280, 87%, 65%)), color-stop(0.67, hsl(192, 100%, 67%)));
    background-image: -moz-linear-gradient(center bottom, hsl(280, 87%, 65%), hsl(280, 87%, 65%));
}
.btncheck {
    background-color: $very-dark-desaturated-blue;
    cursor: pointer;
    border: 0;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    padding: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnchecked {
    background: url('../assets/images/icon-check.svg'), linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    border: 0;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: $very-dark-blue;
    background-image: url('../assets/images/bg-desktop-dark.jpg');
    background-repeat: no-repeat;
    background-size: 100% 300px;
    background-attachment: fixed;
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
    position: relative;
    height: 100vh;
}

// .content-input {
    
// }

.bi-plus-circle-fill {
    cursor: pointer;
    font-size: 1.6rem;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.bi-plus-circle-fill:hover {
    color: darkgray;
}

.visibility {visibility: visible;}
.hidden {visibility: hidden;}
.block {display: block;}
.none {display: none;}

.content {
    width: 500px;
    margin: 0 auto;
    padding-top: 40px;
    position: absolute;
    left: 0%;
    right: 0%;
}

.div-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .title {
        color: $very-light-gray;
        letter-spacing: 10px;
        text-transform: uppercase;
    }
    svg {
        color: $very-light-gray;
    }
    svg:hover {
        color: $light-grayish-blue;
        cursor: pointer;
    }
    svg:active {
        transform: scale(.5);
    }
}

.div-main {
    .text {
        border-radius: 5px;
        width: 100%;
        height: 55px;
        padding: 15px 60px;
        background-color: $very-dark-desaturated-blue;
        border: 0;
        color: $light-grayish-blue-dark;
        box-shadow: 0 1px 3px 0 rgb(0, 0, 0 / 0.1), 0 1px 2px -1px rgb(0, 0, 0 / 0.1);
    }
    .text:focus {
        outline: 2px solid $dark-grayish-blue;
    }
    .text::placeholder {
        color: $light-grayish-blue;
        font-size: .9rem;
    }
    .search {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .container-check {
            /*@include check;*/
            position: absolute;
            left: 18px;
            top: 50%;
            overflow: hidden;
            transform: translateY(-50%);
            .input-check {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                bottom: 0;
                visibility: hidden;
            }
        }
        .container-check:hover {
            border: 1px solid $check-background;
        }
    }
}

.taskc {
    color: #d2d3db;
    // margin-top: 10px;
}

.box {
    border-radius: 5px;
    box-shadow: 0 4px 6px -1px rgb(0, 0, 0 / 0.1), 0 2px 4px -2px rgb(0, 0, 0 / 0.1);
    margin-top: 20px;
    .completed {
        .title {
            text-align: center;
            color: #d2d3db;
        }
        .completed-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            background-color: $very-dark-desaturated-blue;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            border-bottom: 1px solid $very-dark-grayish-blue-dark;
            padding: 5px 20px;
            height: 55px;
        }
        button {
            position: absolute;
            top: 0;
            right: 0;
        }
    }
}

.container-list {
    background-color: $very-dark-desaturated-blue;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    .list {
        border-bottom: 1px solid $very-dark-grayish-blue-dark;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 20px;
        height: 55px;
        .section1 {
            display: flex;
            align-items: center; 
            justify-content: space-between;
            .template-text {
                font-size: .9rem;
                margin-left: 15px;
                color: $light-grayish-blue;
            }
            label {
                /*@include check;*/
                position: relative;
                input[type="checkbox"] {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    bottom: 0;
                    visibility: hidden;
                }
            }
            label:hover {
                border: 1px solid $check-background;
            }
        }
        svg {
            color: #494C6B;
            cursor: pointer;
        }
        svg:active {
            transform: scale(.8);
        }
        svg:hover {
            color: $light-grayish-blue-hover;
        }
    }
}
.list-footer {
    display: flex;
    justify-content: space-between;
    padding: 17px 20px;
    font-size: .9rem;
    background-color: $very-dark-desaturated-blue;
    color: $very-dark-grayish-blue-dark;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    .btn-clean {
        background-color: inherit;
        border: 0;
        color: $very-dark-grayish-blue-dark;
        cursor: pointer;
    }
    .btn-clean:hover {
        color: white;
    }
}

.disabled {
    background-color: darkgray;
    pointer-events: none;

}

.completed-container {

}

@import '_responsive';