/* Primary */
/* Light Theme */
/* Dark Theme */
/*$very-dark-grayish-blue: hsl(237, 14%, 26%);*/
.body {
  background-color: #fafafa;
  background-image: url("../assets/images/bg-desktop-light.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 18px;
  font-family: 'Josefin Sans', sans-serif;
  position: relative;
  height: 100vh; }

.btn-clean-light {
  cursor: pointer;
  background-color: inherit;
  border: 0;
  color: #4d5066; }

.btn-clean-light:hover {
  color: darkgray; }

.modedark {
  width: 30px;
  height: 30px;
  background-color: inherit;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  border: 0;
  background-image: url(../assets/images/icon-sun.svg); }

.modelight {
  width: 30px;
  height: 30px;
  background-color: inherit;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  border: 0;
  background-image: url(../assets/images/icon-moon.svg); }

.modelight:active {
  transform: scale(0.8); }

.modedark:active {
  transform: scale(0.8); }

.bg-dark {
  background-color: red; }

.template-text-light {
  color: red; }

.text-light {
  border-radius: 5px;
  width: 100%;
  height: 55px;
  padding: 15px 60px;
  background-color: #fafafa;
  border: 0;
  color: #484b6a;
  box-shadow: 0 1px 3px 0 black, 0 1px 2px -1px black; }

.text-light:focus {
  outline: 2px solid #777a92; }

.text-light::placeholder {
  color: #777a92;
  font-size: .9rem;
  font-weight: bold; }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

.page-link {
  text-transform: capitalize;
  background-color: inherit;
  border: 0;
  cursor: pointer;
  outline: 0;
  font-size: 1rem;
  margin-left: 10px;
  color: #4d5066; }

.active {
  color: #3a7bfd; }

.btn:hover {
  color: gray; }

.check-all {
  width: 21px;
  height: 21px;
  overflow: hidden;
  padding: 1px;
  border-radius: 50%;
  border: 0;
  background-color: #484b6a; }
  .check-all .check-all-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #25273c;
    cursor: pointer;
    border: 0;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    padding: 1px; }
  .check-all .checked-all-button {
    background: url("../assets/images/icon-check.svg"), linear-gradient(#57ddff, #c058f3);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    border: 0;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }

.check-all:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.33, #c058f3), color-stop(0.67, #57ddff));
  background-image: -moz-linear-gradient(center bottom, #c058f3, #c058f3); }

.border {
  width: 21px;
  height: 21px;
  overflow: hidden;
  padding: 1px;
  border-radius: 50%;
  border: 0;
  background-color: #484b6a; }

.border:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.33, #c058f3), color-stop(0.67, #57ddff));
  background-image: -moz-linear-gradient(center bottom, #c058f3, #c058f3); }

.btncheck {
  background-color: #25273c;
  cursor: pointer;
  border: 0;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  padding: 1px;
  display: flex;
  justify-content: center;
  align-items: center; }

.btnchecked {
  background: url("../assets/images/icon-check.svg"), linear-gradient(#57ddff, #c058f3);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  border: 0;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

body {
  background-color: #161722;
  background-image: url("../assets/images/bg-desktop-dark.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 18px;
  font-family: 'Josefin Sans', sans-serif;
  position: relative;
  height: 100vh; }

.bi-plus-circle-fill {
  cursor: pointer;
  font-size: 1.6rem;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%); }

.bi-plus-circle-fill:hover {
  color: darkgray; }

.visibility {
  visibility: visible; }

.hidden {
  visibility: hidden; }

.block {
  display: block; }

.none {
  display: none; }

.content {
  width: 500px;
  margin: 0 auto;
  padding-top: 40px;
  position: absolute;
  left: 0%;
  right: 0%; }

.div-header {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .div-header .title {
    color: #fafafa;
    letter-spacing: 10px;
    text-transform: uppercase; }
  .div-header svg {
    color: #fafafa; }
  .div-header svg:hover {
    color: #d2d3db;
    cursor: pointer; }
  .div-header svg:active {
    transform: scale(0.5); }

.div-main .text {
  border-radius: 5px;
  width: 100%;
  height: 55px;
  padding: 15px 60px;
  background-color: #25273c;
  border: 0;
  color: #cacde8;
  box-shadow: 0 1px 3px 0 black, 0 1px 2px -1px black; }
.div-main .text:focus {
  outline: 2px solid #777a92; }
.div-main .text::placeholder {
  color: #d2d3db;
  font-size: .9rem; }
.div-main .search {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .div-main .search .container-check {
    /*@include check;*/
    position: absolute;
    left: 18px;
    top: 50%;
    overflow: hidden;
    transform: translateY(-50%); }
    .div-main .search .container-check .input-check {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      bottom: 0;
      visibility: hidden; }
  .div-main .search .container-check:hover {
    border: 1px solid linear-gradient(#57ddff, #c058f3); }

.taskc {
  color: #d2d3db;
  border-bottom: 1px solid #4d5066;
  margin-top: 10px; }

.box {
  border-radius: 5px;
  box-shadow: 0 4px 6px -1px black, 0 2px 4px -2px black;
  margin-top: 20px; }
  .box .completed {
    width: 100%;
    height: auto;
    padding: 20px;
    background-color: #25273c;
    overflow: hidden;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; }
    .box .completed .title {
      text-align: center;
      color: #d2d3db; }
    .box .completed .completed-container {
      margin-top: 10px; }
    .box .completed button {
      position: absolute;
      top: 0;
      right: 0; }

.container-list {
  background-color: #25273c;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }
  .container-list .list {
    border-bottom: 1px solid #4d5066;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    height: 55px; }
    .container-list .list .section1 {
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .container-list .list .section1 .template-text {
        font-size: .9rem;
        margin-left: 15px;
        color: #d2d3db; }
      .container-list .list .section1 label {
        /*@include check;*/
        position: relative; }
        .container-list .list .section1 label input[type="checkbox"] {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          bottom: 0;
          visibility: hidden; }
      .container-list .list .section1 label:hover {
        border: 1px solid linear-gradient(#57ddff, #c058f3); }
    .container-list .list .section2 svg {
      color: #494C6B;
      cursor: pointer; }
    .container-list .list .section2 svg:active {
      transform: scale(0.8); }
    .container-list .list .section2 svg:hover {
      color: #e4e5f1; }

.list-footer {
  display: flex;
  justify-content: space-between;
  padding: 17px 20px;
  font-size: .9rem;
  background-color: #25273c;
  color: #4d5066;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; }
  .list-footer .btn-clean {
    background-color: inherit;
    border: 0;
    color: #4d5066;
    cursor: pointer; }
  .list-footer .btn-clean:hover {
    color: white; }

.disabled {
  background-color: darkgray;
  pointer-events: none; }

/*# sourceMappingURL=style.css.map */
